$background: #242529;
$orange: #ff8135;
$white: white;
$font: "Noto Sans", sans-serif;
$shadow: 0 3px 12px rgba(0, 0, 0, 0.5);

:root {
  font-size: 10px;

  @media only screen and (max-width: 1100px) {
    font-size: 9px;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 8px;
  }

  @media only screen and (max-width: 900px) {
    font-size: 7px;
  }

  @media only screen and (max-width: 768px) {
    font-size: 6px;
  }

  @media only screen and (max-width: 580px) {
    font-size: 5px;
  }

  @media only screen and (max-width: 400px) {
    font-size: 4px;
  }
}

body {
  background: $background;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#intro {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  div#intro-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 105rem;
    height: 30rem;
    padding: 0;
    position: relative;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    @media only screen and (max-width: 770px) {
      flex-direction: column;
      align-items: center;
      width: 30rem;
      height: 65rem;
      text-align: center;
    }

    div#logo {
      display: block;
      position: relative;
      height: 30rem;
      width: 30rem;
      box-shadow: $shadow;
      background: $orange;
      margin: 0;
      padding: 0;

      h2#logo-text {
        font-size: 20rem;
        position: absolute;
        color: $white;
        font-family: $font;
        font-weight: 700;
        bottom: 4rem;
        right: 2rem;
        margin: 0;
        padding: 0;
        line-height: 20rem;
      }
    }

    div#intro-text-container {
      display: flex;
      flex-direction: column;
      width: 70rem;

      h1#intro-text {
        font-family: $font;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 4.8rem;
        margin: 0 0 0 0;
        padding: 0;
        color: $white;
      }

      p.intro-subtext {
        font-family: $font;
        font-weight: 700;
        font-size: 3rem;
        line-height: 4.5rem;
        margin: 4rem 0 0 0;
        padding: 0;
        color: $white;
      }

      span.highlight {
        color: $orange;
        text-shadow: $shadow;
      }
    }
  }
}

section#projects {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 0;
  bottom: 0;

  div#projects-wrapper {
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    div#projects-container {
      display: inline-block;
      width: 1280px;
      margin: 60px 0;
      font-size: 0;
      position: relative;
      left: 50vw;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);

      @media only screen and (max-width: 1280px) {
        width: 640px;
        margin: 30px auto;
      }

      @media only screen and (max-width: 660px) {
        width: 320px;
        margin: 20px auto;
      }

      a.project,
      a.project:active,
      a.project:visited {
        display: inline-block;
        width: 200px;
        height: 60px;
        padding: 47px;
        margin: 10px;
        border: 3px solid $orange;
        text-decoration: none;
        position: relative;
        box-shadow: $shadow;
        vertical-align: bottom;

        @media only screen and (max-width: 660px) {
          padding: 7px 47px;
        }

        p.link-text {
          font-family: $font;
          font-size: 3rem;
          line-height: 4.5rem;
          color: white;
          font-weight: 700;
          text-align: center;
          margin: 0;
          padding: 0;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        i.right-arrow {
          border: solid $white;
          border-width: 0 0.3rem 0.3rem 0;
          display: block;
          width: 0;
          padding: 1rem;
          transform: rotate(-45deg) translate(-0.5rem, -100%);
          -webkit-transform: rotate(-45deg) translate(-0.5rem, -100%);
          position: absolute;
          right: 0;
          top: 50%;
        }

        &::before {
          content: "";
          display: block;
          width: 0px;
          height: 160px;
          position: absolute;
          left: -3px;
          bottom: -3px;
          background: $orange;
          z-index: -1;
          transition: 0.3s linear;
          -webkit-transition: 0.3s linear;

          @media only screen and (max-width: 660px) {
            height: 80px;
          }
        }
      }

      a.project:hover {
        &::before {
          width: 300px;
        }
      }
    }
  }

  p#project-links {
    font-family: $font;
    font-size: 3rem;
    color: $white;
    line-height: 4.5rem;
    text-align: center;
    margin: 0;
    padding: 0;

    a.link,
    a.link:visited,
    a.link:active,
    a.link:hover {
      color: $white;
    }
  }
}

h2.section-heading {
  font-family: $font;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: center;
  color: $white;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

span.section-heading-underline {
  display: block;
  width: 30rem;
  height: 0.3rem;
  background: $orange;
  margin: 0 auto;
  padding: 0;
}

i.down-arrow {
  border: solid $orange;
  border-width: 0 0.3rem 0.3rem 0;
  display: block;
  padding: 1rem;
  transform: rotate(45deg) translateX(-100%);
  -webkit-transform: rotate(45deg) translateX(-100%);
  position: absolute;
  bottom: 3rem;
  left: 50vw;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  @keyframes bounce {
    0% {
      bottom: 3rem;
    }
    50% {
      bottom: 2rem;
    }
    100% {
      bottom: 3em;
    }
  }
}
