body {
  text-align: center;
}

#header {
  display: block;
  z-index: 2;
  width: 100%;
  height: 60px;
  border-bottom: #555555 solid 1px;
  background: #dddddd;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 800px) {
  #header {
    height: 120px;
  }
}

#header #title-box {
  display: block;
  width: 300px;
  height: 80px;
  background: #eb7232;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 20px;
}

@media only screen and (max-width: 800px) {
  #header #title-box {
    left: calc(50% - 140px);
    width: 280px;
    height: 60px;
  }
}

#header #title-box #title {
  font-family: "Asap Condensed", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: white;
  text-align: center;
  margin-top: 16px;
}

@media only screen and (max-width: 800px) {
  #header #title-box #title {
    font-size: 40px;
    line-height: 40px;
    margin-top: 8px;
  }
}

#header #navigation {
  display: block;
  height: 60px;
  position: absolute;
  top: 0;
  right: 20px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  #header #navigation {
    top: 60px;
    right: calc(50% - 156px);
    padding-right: 15px;
  }
}

#header #navigation #navigation-links {
  display: block;
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#header #navigation #navigation-links .navigation-link {
  display: inline-block;
  height: 30px;
  margin: 15px 0px 15px 15px;
  padding: 0px;
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
}

#header #navigation #navigation-links .navigation-link a, #header #navigation #navigation-links .navigation-link a:active, #header #navigation #navigation-links .navigation-link a:visited, #header #navigation #navigation-links .navigation-link a:hover {
  color: #555555;
  text-decoration: none;
}

#header #navigation #navigation-links .navigation-link i {
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
}

@media only screen and (max-width: 800px) {
  #header #navigation #navigation-links .icon {
    display: none;
  }
}

#header-announcement {
  position: relative;
  display: block;
  margin-top: 60px;
  overflow: auto;
  z-index: 1;
  background: #cccccc;
  padding: 40px 20px;
}

@media only screen and (max-width: 800px) {
  #header-announcement {
    margin-top: 120px;
    padding: 20px 20px 40px;
  }
}

#header-announcement #announcement {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #555555;
  padding: 0;
  margin: 0;
}

#header-announcement #announcement a, #header-announcement #announcement a:active, #header-announcement #announcement a:hover, #header-announcement #announcement a:visited {
  color: #eb7232;
}

#header-announcement #announcement-close {
  color: #555555;
  font-size: 20px;
  line-heigh: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#main-icons {
  display: block;
  height: 160px;
  text-align: center;
  margin: 100px 20px;
}

@media only screen and (max-width: 800px) {
  #main-icons {
    height: 100px;
    margin: 60px 0px 40px;
  }
}

#main-icons .main-icon {
  height: 160px;
  margin: 0px 20px;
}

@media only screen and (max-width: 800px) {
  #main-icons .main-icon {
    height: 80px;
    margin: 0 10px;
  }
}

#main-subheading {
  display: block;
  text-align: center;
  margin: 0 20px 60px;
}

@media only screen and (max-width: 800px) {
  #main-subheading {
    margin: 0 20px 40px;
  }
}

#main-subheading .subheading-line {
  font-family: "Slabo 27px", serif;
  font-size: 30px;
  line-height: 30px;
  margin: 30px 0;
  color: #777777;
}

@media only screen and (max-width: 800px) {
  #main-subheading .subheading-line {
    font-size: 22px;
    line-height: 28px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 560px) {
  #main-subheading .subheading-line {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;
  }
}

#main-subheading .subheading-line strong {
  color: #555555;
  font-weight: bold;
}

a, a:active, a:hover, a:visited {
  color: #eb7232;
}

.button, .button:active, .button:visited {
  display: inline-block;
  text-align: center;
  height: 48px;
  border: #eb7232 solid 3px;
  padding: 15px;
  font-family: "Slabo 27px", serif;
  font-size: 48px;
  line-height: 48px;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .button, .button:active, .button:visited {
    height: 36px;
    padding: 10px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 460px) {
  .button, .button:active, .button:visited {
    height: 28px;
    padding: 8px;
    font-size: 28px;
    line-height: 28px;
  }
}

.button i, .button:active i, .button:visited i {
  font-size: 48px;
  line-height: 48px;
  margin: 0 15px 0 0;
  vertical-align: top;
}

@media only screen and (max-width: 800px) {
  .button i, .button:active i, .button:visited i {
    margin: 0 10px 0 0;
    font-size: 36px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 460px) {
  .button i, .button:active i, .button:visited i {
    margin: 0 8px 0 0;
    font-size: 28px;
    line-height: 28px;
  }
}

.button:hover {
  background: #eb7232;
  color: white;
  -moz-transition: background .1s linear;
  -webkit-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
}

.section-heading {
  text-align: center;
  font-family: "Asap Condensed", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #555555;
  margin: 60px 0 30px;
}

@media only screen and (max-width: 800px) {
  .section-heading {
    font-size: 36px;
    line-height: 36px;
    margin: 40px 0 20px;
  }
}

.education-group {
  margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
  .education-group {
    margin-bottom: 30px;
  }
}

.education-group .education-line, .education-group .education-top-line {
  text-align: center;
  font-family: "Slabo 27px", serif;
  font-size: 24px;
  line-height: 24px;
  margin: 6px 0;
  color: #777777;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .education-group .education-line, .education-group .education-top-line {
    font-size: 20px;
    line-height: 20px;
  }
}

.education-group .education-top-line {
  color: #555555;
}

#projects-container {
  display: block;
  width: 1280px;
  margin: 0px auto;
  font-size: 0px;
}

@media only screen and (max-width: 1280px) {
  #projects-container {
    width: 960px;
  }
}

@media only screen and (max-width: 960px) {
  #projects-container {
    width: 640px;
  }
}

@media only screen and (max-width: 640px) {
  #projects-container {
    width: 320px;
  }
}

.project {
  display: block;
  width: 300px;
  height: 220px;
  margin: 10px;
  float: left;
}

.project:hover {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.project .project-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.project .project-link .project-heading {
  font-family: "Asap Condensed", sans-serif;
  font-size: 36px;
  color: white;
  line-height: 36px;
  padding: 0;
  margin: 15px;
  text-align: left;
}

.project .project-link .project-list {
  font-family: "Slabo 27px", serif;
  font-size: 24px;
  line-height: 24px;
  color: white;
  padding: 0;
  margin: 15px;
  position: absolute;
  bottom: 15px;
}

.project .project-pop-up {
  display: none;
}

.project .project-pop-up-open {
  z-index: 3;
  display: block;
  width: 600px;
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  background: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
}

@media only screen and (max-width: 640px) {
  .project .project-pop-up-open {
    width: 80%;
    top: 10%;
    left: 10%;
  }
}

.project .project-pop-up-open .project-pop-up-heading {
  font-family: "Asap Condensed", sans-serif;
  color: #eb7232;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  margin: 20px;
  text-align: left;
}

@media only screen and (max-width: 640px) {
  .project .project-pop-up-open .project-pop-up-heading {
    font-size: 28px;
    line-height: 28px;
    margin: 10px;
  }
}

.project .project-pop-up-open .project-pop-up-description {
  font-family: "Slabo 27px", serif;
  color: #777777;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 20px;
  text-align: left;
}

@media only screen and (max-width: 640px) {
  .project .project-pop-up-open .project-pop-up-description {
    margin: 10px;
  }
}

.project .project-pop-up-open .button, .project .project-pop-up-open .button:active, .project .project-pop-up-open .button:visited {
  display: inline-block;
  margin: 20px 0px 20px 20px;
  text-align: center;
  height: 30px;
  border: #eb7232 solid 3px;
  padding: 15px;
  font-family: "Slabo 27px", serif;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
}

@media only screen and (max-width: 640px) {
  .project .project-pop-up-open .button, .project .project-pop-up-open .button:active, .project .project-pop-up-open .button:visited {
    margin: 10px 0 10px 10px;
    height: 24px;
    padding: 10px;
    font-size: 24px;
    line-height: 24px;
  }
}

.project .project-pop-up-open .button i, .project .project-pop-up-open .button:active i, .project .project-pop-up-open .button:visited i {
  font-size: 30px;
  line-height: 30px;
  margin: 0 15px 0 0;
  vertical-align: top;
}

@media only screen and (max-width: 640px) {
  .project .project-pop-up-open .button i, .project .project-pop-up-open .button:active i, .project .project-pop-up-open .button:visited i {
    font-size: 24px;
    line-height: 24px;
    margin: 0 10px 0 0;
  }
}

.project .project-pop-up-open .button:hover {
  background: #eb7232;
  color: white;
  -moz-transition: background .1s linear;
  -webkit-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
}

.dark-background {
  z-index: 2;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}

.orange-1 {
  background: #eb9364;
}

.orange-2 {
  background: #ea824a;
}

.orange-3 {
  background: #eb7232;
}

.orange-4 {
  background: #eb6017;
}

.orange-5 {
  background: #e44f00;
}

#projects-footer {
  clear: both;
  display: block;
  font-family: "Slabo 27px", serif;
  font-size: 24px;
  line-height: 24px;
  color: #777777;
  margin: 0;
  padding: 35px 0;
}

@media only screen and (max-width: 800px) {
  #projects-footer {
    font-size: 20px;
    line-height: 20px;
    padding: 20px 0;
  }
}

#work {
  display: block;
  width: 1000px;
  margin: 0 auto;
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  #work {
    width: auto;
    margin: 0 20px;
  }
}

#work .work-subheading {
  font-family: "Slabo 27px", serif;
  font-size: 24px;
  line-height: 30px;
  color: #555555;
  text-align: left;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  #work .work-subheading {
    font-size: 20px;
    line-height: 28px;
  }
}

#work .work-details {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  line-height: 24px;
  color: #777777;
  text-align: left;
  margin: 10px 0;
  padding-left: 25px;
}

@media only screen and (max-width: 800px) {
  #work .work-details {
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
  }
}

#contact {
  display: block;
  width: 300px;
  margin: 0 auto;
}

#contact .button {
  margin: 10px;
}

footer {
  display: block;
  width: 100%;
  background: #eb7232;
  height: 120px;
  margin: 100px 0 0 0;
  padding: 0;
}

@media only screen and (max-width: 420px) {
  footer {
    height: 100px;
    margin: 80px 0 0 0;
  }
}

footer #footer-links {
  display: inline-block;
  height: 30px;
  margin: 30px auto 15px;
}

@media only screen and (max-width: 420px) {
  footer #footer-links {
    height: 24px;
    margin: 24px auto 15px;
  }
}

footer #footer-links .button {
  display: inline-block;
  color: white;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  padding: 0;
}

@media only screen and (max-width: 420px) {
  footer #footer-links .button {
    height: 24px;
    width: 24px;
  }
}

footer #footer-links .button i {
  font-size: 30px;
  line-height: 30px;
  padding: 0;
}

@media only screen and (max-width: 420px) {
  footer #footer-links .button i {
    font-size: 24px;
    line-height: 24px;
  }
}

footer #footer-text {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  line-height: 18px;
  color: white;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 420px) {
  footer #footer-text {
    font-size: 16px;
    line-height: 16px;
  }
}
