/* Color Variables */
$darkest-gray: #333333
$dark-gray: #555555
$light-gray: #cccccc
$orange-one: #ffd7b5
$orange-two: #ffb38a
$orange-three: #fe9148
$orange-four: #f68026
$orange-five: #ff6700
$orange-six: #dd550c

////////////////////
// FLOATING LINKS //
////////////////////

#floating-links
  display: block
  position: fixed
  top: 15px
  right: 15px

  @media only screen and (max-width: 960px)
    position: relative
    width: 100%
    overflow: auto
    top: 0
    right: 0

  .button, .button:visited
    display: block
    border: $orange-six solid 3px
    font-family: 'Roboto', sans-serif
    font-size: 16px
    color: $orange-six
    text-decoration: none
    padding: 8px
    float: right
    background: $orange-two
    z-index: 1

    @media only screen and (max-width: 960px)
      margin: 10px

  .button:hover, .button:active
    background: $orange-six
    color: white
    transition: 1s

  .link, .link:hover, .link:active, .link:visited
    float: right
    clear: right
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    color: $orange-five
    text-decoration: none
    margin-top: 13px
    z-index: 1

    @media only screen and (max-width: 960px)
      clear: none
      margin: 20px 10px 10px

////////////
// HEADER //
////////////

#name
  font-family: 'Roboto', sans-serif
  font-size: 72px
  text-align: center
  color: $orange-six
  margin: 50px 30px 15px

  @media only screen and (max-width: 960px)
    margin: 30px 30px 15px

  @media only screen and (max-width: 492px)
    font-size: 46px
    margin: 30px 10px 10px

#contact-info
  display: block
  text-align: center

  p
    font-family: 'Open Sans', sans-serif
    font-size: 18px
    line-height: 24px
    color: $dark-gray
    display: inline
    vertical-align: middle

    @media only screen and (max-width: 492px)
      font-size: 12px
      line-height: 18px

  img
    height: 24px
    margin: 0 5px
    display: inline
    vertical-align: middle
    line-height: 24px

    @media only screen and (max-width: 492px)
      height: 18px
      line-height: 18px

///////////////
// EDUCATION //
///////////////

#resume-education
  width: 100%
  background: $light-gray
  overflow: auto
  margin: 30px 0 15px

  h2
    text-align: center
    font-family: 'Roboto', sans-serif
    color: $orange-six
    font-size: 30px
    margin: 15px

  #education-container
    display: block
    width: 900px
    margin: 0 auto
    overflow: auto

    .education-div
      display: block
      width: 450px
      margin: 0
      float: left

      h3
        color: $darkest-gray
        font-family: 'Roboto', sans-serif
        font-size: 24px
        margin: 0

      h4
        color: $darkest-gray
        font-family: 'Roboto', sans-serif
        font-size: 18px
        margin: 5px 0

      p
        color: $dark-gray
        font-family: 'Open Sans', sans-serif
        font-size: 14px
        line-height: 20px
        margin: 0

  #education-key-courses
    clear: both
    display: block
    width: 900px
    margin: 15px auto 20px

    h3
      color: $darkest-gray
      font-family: 'Roboto', sans-serif
      font-size: 18px
      display: inline
      margin: 0

    p
      color: $dark-gray
      font-family: 'Open Sans', sans-serif
      font-size: 14px
      display: inline
      margin: 0
      line-height: 18px

////////////////
// EXPERIENCE //
////////////////

#resume-experience
  width: 100%
  background: white
  overflow: auto
  margin: 0

  h2
    text-align: center
    font-family: 'Roboto', sans-serif
    color: $orange-six
    font-size: 30px
    margin: 15px

  .experience-div
    display: block
    width: 900px
    margin: 15px auto
    overflow: auto

    h3
      color: $darkest-gray
      font-family: 'Roboto', sans-serif
      font-size: 24px
      margin: 0

    h4
      color: $darkest-gray
      font-family: 'Roboto', sans-serif
      font-size: 18px
      margin: 5px 0

    ul
      margin: 0
      list-style: circle
      padding-left: 20px
      margin-top: 5px
      font-family: 'Open Sans', sans-serif
      font-size: 14px
      line-height: 18px
      color: $dark-gray

      li
        margin: 5px 0

/////////////////
// INVOLVEMENT //
/////////////////

#resume-involvement
  width: 100%
  background: $light-gray
  overflow: auto
  margin: 30px 0 15px

  h2
    text-align: center
    font-family: 'Roboto', sans-serif
    color: $orange-six
    font-size: 30px
    margin: 15px

  .involvement-div
    display: block
    width: 900px
    margin: 15px auto
    overflow: auto

    h3
      color: $darkest-gray
      font-family: 'Roboto', sans-serif
      font-size: 18px
      margin: 0

    ul
      margin: 0
      list-style: circle
      padding-left: 20px
      margin-top: 5px
      font-family: 'Open Sans', sans-serif
      font-size: 14px
      line-height: 18px
      color: $dark-gray

      li
        margin: 5px 0

//////////////
// PROJECTS //
//////////////

#resume-projects
  width: 100%
  background: white
  overflow: auto
  margin: 0

  h2
    text-align: center
    font-family: 'Roboto', sans-serif
    color: $orange-six
    font-size: 30px
    margin: 15px

  .projects-div
    display: block
    width: 900px
    margin: 15px auto
    overflow: auto

    h3
      color: $darkest-gray
      font-family: 'Roboto', sans-serif
      font-size: 18px
      margin: 0

    p
      color: $dark-gray
      font-family: 'Open Sans', sans-serif
      font-size: 14px
      display: inline
      margin: 0
      line-height: 18px

  #projects-note
    text-align: center
    font-style: italic
    font-family: 'Open Sans', sans-serif
    font-size: 14px

    a, a:hover, a:active, a:visited
      text-decoration: none
      color: $orange-five

////////////
// SKILLS //
////////////

#resume-skills
  width: 100%
  background: $light-gray
  overflow: auto
  margin: 30px 0 30px

  h2
    text-align: center
    font-family: 'Roboto', sans-serif
    color: $orange-six
    font-size: 30px
    margin: 15px

  #skills-container
    display: block
    width: 900px
    margin: 0 auto
    padding-bottom: 20px
    overflow: auto

    .skills-div
      display: block
      width: 450px
      margin: 0
      float: left

      h3
        color: $darkest-gray
        font-family: 'Roboto', sans-serif
        font-size: 24px
        margin: 0

      h4
        color: $darkest-gray
        font-family: 'Roboto', sans-serif
        font-size: 18px
        margin: 5px 0

      p
        color: $dark-gray
        font-family: 'Open Sans', sans-serif
        font-size: 14px
        line-height: 20px
        margin: 0

////////////
// FOOTER //
////////////

#footer-text
  text-align: center
  font-family: 'Open Sans', sans-serif
  font-size: 14px
  color: $dark-gray
  margin: 30px
