/* Color Variables */
$dark-gray: #555555
$light-gray: #cccccc
$orange-one: #ffd7b5
$orange-two: #ffb38a
$orange-three: #fe9148
$orange-four: #f68026
$orange-five: #ff6700
$orange-six: #dd550c


.nav-bar
  background: white
  height: 80px
  width: 100%
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.75)
  position: absolute
  top: 0

  #logo:active, #logo:visited, #logo, #logo:hover
    font-size: 48px
    color: $orange-five
    font-weight: bold
    text-decoration: none
    margin: 12.665px 40px
    float: left

  nav
    float: right
    height: 80px
    margin: 0px 40px
    display: block

    ul
      height: 32px
      margin: 24px 0
      padding: 0
      list-style: none

      li
        display: inline-block
        height: 32px

        a, a:active, a:visited
          font-size: 24px
          font-weight: bold
          text-decoration: none
          color: $orange-five
          margin: 2px 10px
          float: right
        a:hover
          font-size: 24px
          font-weight: bold
          text-decoration: none
          color: $orange-three
          margin: 2px 10px
          float: right

        img
          height: 32px
          margin: -2.165px 0 0 0
          padding: 0
